<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8" />
    <title>Editor</title>
    <link rel="stylesheet" href="{% static 'css/editor.css' %}"/>
</head>
<body>
    <script>
        const djangoApp = '{{ app|escapejs }}';
        const djangoComponent = '{{ component|escapejs }}';
        const djangoProps = JSON.parse('{{ props|escapejs }}');
    </script>
    <div id="app">
        <h1>Loading...</h1>
    </div>
    <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>