<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8" />
    <title>TzuratLink {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reader.css' %}"/>
</head>
<body>
    <script>
        const djangoComponent = JSON.parse('{{ component|escapejs }}');
        const djangoProps = JSON.parse('{{ props|escapejs }}');
    </script>
    <header>
        <a href="/">
            <img id="logo" src="{% static "img/logo.png" %}" alt="Logo">
            <h1 id="title">TzuratLink</h1>
        </a>
    </header>
    <nav id="main-nav">
        {% block navigate %}
        {% endblock %}
    </nav>
    <div id="app">
        {% block content %}
        {% endblock  %}
    </div>
    <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>